@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;

  font-family: "PT Sans", sans-serif;

  font-size: 20px;
  line-height: 26px;

  color: #000000;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  margin: 0 auto;
  line-height: 24px;
  padding: 0 70px;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin: 0;
  width: 340px;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  padding: 20px 16px;
}

.navigation-link {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

.user-menu {
  display: flex;
  margin-left: auto;
}

.navigation-user {
  display: flex;
  margin-left: auto;
  list-style: none;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}

.navigation-button-link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;


  padding: 8px 50px;
  margin-left: 20px;
  margin-top: 14px;
  margin-bottom: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-background {
  background-image: url("../images/main-img/main-welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;

  margin-bottom: 69px;
}

.main-logo {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
}

.hero h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.hero p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;

  text-align: center;
  margin-bottom: 69px;
}

.main-index {
  margin: 0;
  padding: 0;
}

.advantages {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 385px;
  padding: 103px 85px;
}

.advantages-items {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.advantages-items h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  text-align: center;
  margin: 0 auto;
}

.advantages-items p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

.picture-description {
  background-color: #82b3d3;
  color: #ffffff;
}

.picture-description p {
  color: #ffffff;
}

.section-1 {
  background-color: #83b3d31f;
}

.section-2 {
  background-color: #83b3d333;
}

.come-to-sedona {
  display: flex;
  padding: 64px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.come-to-sedona h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.come-to-sedona p {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.dignities-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dignities-item {
  margin: 0;
  display: flex;
  padding: 80px 85px;
  justify-content: center;
  width: 400px;
  height: 385px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dignities-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.dignities-item p {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.background-section-dignities {
  background-color: #83b3d31f;
}

.subscribe {
  background-image: url("../images/main-img/Subscribe.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 96px 258px 104px 258px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 96px 304px;
}

.search h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search p {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.search-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #756157;
}

.search a {
  color: #ffffff;
  text-decoration: none;
}

.field {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.newsletter-button {
  background-color: #82b3d3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-contacts-address-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  width: 331px;
  height: 40px;
  margin: 0 auto;
}

/* Catalog */

.filter {
  background-image: url("../images/catalog-img/filter-catalog.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  display: flex;

  height: 412px;
  padding: 35px 70px 70px 70px;
}

.filter h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  width: 495px;
}

.breadcrumbs-link-home {
  width: 13px;
  height: 15px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link {
  width: 73px;
  height: 21px;
}

.catalog-filter-group {
  width: 150px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control span {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.filter-price {
  width: 288;
  height: 160px;

  display: flex;
  justify-content: flex-end;
  gap: 70px;
}

.filter-price-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-btn {
  color: #ffffff;
}

.hotels {
}

.sorting-hotels {
  display: flex;
  justify-content: space-between;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.product-card {
  margin: 20px;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.product-card-habitat {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.product-card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.product-card-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.product-card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.button-detaile {
  background-color: #756157;
}

.button-favourites {
  background-color: #82b3d3;
}

.pagination {
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
