@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;

  font-family: "PT Sans", sans-serif;

  font-size: 20px;
  line-height: 26px;

  color: #000000;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  margin: 0 auto;
  height: 64px;
  line-height: 24px;
  padding: 0 70px;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin: 0;
  width: 340px;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  padding: 20px 16px;
}

.navigation-link {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

.navigation-link:hover {
  background-color:;
}

.navigation-link:focus {
  box-shadow: inset 0 0 0 4px #e7e7e7;
  outline: none;
}

.navigation-link-current::before {
  width: 68px;
  height: 2px;
  background-color: #756257;
  content: "";
  margin-top: ;
}

.user-menu {
  display: flex;
  margin-left: auto;
}

.navigation-user {
  margin: 0;
  display: flex;
  margin-left: auto;
  list-style: none;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}

.navigation-user-item {
  margin: 0;
  display: flex;
  padding: 22px 12px;
  justify-content: center;
  align-items: center;
}

.navigation-user-link {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 2px 1px 1px 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation-button-link {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;

  padding: 8px 50px;
  margin-left: 20px;
  margin-top: 14px;
  margin-bottom: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.hero-background {
  background-image: url("../images/main-img/main-welcome-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;

  margin-bottom: 69px;
}

.main-logo {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
}

.hero h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.hero p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;

  text-align: center;
  margin-bottom: 69px;
}

.advantages {
  display: flex;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 102px 85px;
}

.advantages-item:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 102px 85px;
}

.advantages-item::before {
  flex-grow: 1;
  order: 2;
  margin-right: 16px;
  margin-left: 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  content: "";
  width: 60px;
  height: 2px;
  gap: 30px;
}

.advantages-items {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.advantages-item-foto img {
  display: flex;
  align-self: stretch;
}

.advantages-items h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  text-align: center;
  margin: 0 auto;
  order: 1;
  margin-bottom: 30px;
}

.advantages-items p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-align: center;
  order: 3;
  margin: 0;
  margin-top: 30px;
}

.picture-description {
  background-color: #82b3d3;
  color: #ffffff;
}

.picture-description p {
  color: #ffffff;
}

.section-1 {
  background-color: #83b3d31f;
}

.section-2 {
  background-color: #83b3d333;
}

.come-to-sedona {
  display: flex;
  padding: 64px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.come-to-sedona h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.come-to-sedona p {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.dignities-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dignities-item {
  margin: 0;
  display: flex;
  padding: 80px 85px;
  justify-content: center;
  width: 400px;
  height: 385px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dignities-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.dignities-item p {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.background-section-dignities {
  background-color: #83b3d31f;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
}

.search h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.search p {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-bottom: 54px;
}

.search-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #756157;
  padding: 8px 50px;
}

.search a {
  color: #ffffff;
  text-decoration: none;
}

.subscribe {
  background-image: url("../images/main-img/subscribe.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 96px 258px 104px 258px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.subscribe-catalog {
  padding: 96px 258px 104px 258px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.subscribe h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe p {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe-catalog h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-catalog p {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
}

.field {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  display: flex;
  padding: 12px 20px;
  flex: 1 0 0;
  align-self: stretch;
}

.newsletter-button {
  background-color: #82b3d3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: block;
  width: 56px;
  height: 44px;
  padding: 0 10px;
  background-repeat: no-repeat;
  background-position: center;
}

/* .social-link:default {
  color: #83B3D3;
}

.social-link:hover {
  color: #68A2CA;
}

.social-link:focus {
  color: #68A2CA;
}

.social-link:active {
  color: #68A2CA4D;
} */

.footer-social-vkontakte {
  background-image: url("../images/icon-vk.svg");
}

.footer-social-telegram {
  background-image: url("../images/icon-tg.svg");
}

.footer-social-youtube {
  background-image: url("../images/icon-yt.svg");
}

.footer-contacts-address-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  width: 331px;
  height: 40px;
  margin: 0 auto;
}

.footer-contacts-address-phone:default {
  color: #000000;
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: #7561574d;
}

.link-htmlacademy {
  margin: 0;
}

/* Catalog */

.filter {
  background-image: url("../images/catalog-img/filter-catalog.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;

  padding: 35px 70px 70px 70px;
}

.filter-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.filter h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  width: 495px;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
  gap: 10px;
}

.breadcrumbs-link-home {
  width: 13px;
  height: 15px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link {
  width: 73px;
  height: 21px;
}

.breadcrumbs-link:default {
  color: #ffffff;
}

.breadcrumbs-link:hover {
  color: #ffffff99;
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: #ffffff4d;
}

.filter-body {
  display: flex;
}

.form-filter-catalog {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.catalog-filter-list {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control span {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.filter-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.filter-price-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 70px;
}

.filter-price-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-button {
  display: flex;
  flex-direction: column;
}

.filter-btn {
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  color: #ffffff;
}

.button-apply {
  background: #82b3d3;
  margin-bottom: 32px;
}

.button-reset {
  background: fixed;
}

.hotels {
  display: flex;
  padding: 50px 70px 60px 70px;
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch;
}

.sorting-hotels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 40px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.social-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-container {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.select-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  padding: 14px 20px;
}

.card-format {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 16px;
  padding: 16px;
  color: #000000;
  height: 44px;
}

.sorting-button {
  box-sizing: border-box;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sorting-button:default {
  border-radius: 4px;
  border: 2px solid var(--Forms-elements-1, #e5e5e5);
}

.sorting-button:hover {
  border-radius: 4px;
  border: 2px solid var(--Icons-basic, #000);
}

.sorting-button:focus {
  border-radius: 4px;
  border: 2px solid var(--Icons-second-hover, #68a2ca);
}

.sorting-button:active {
  border-radius: 4px;
  border: 2px solid var(--Icons-basic, #000);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;

  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.product-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.product-card-habitat {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.product-card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
}

.card-button {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.button {
  border-radius: 4px;
}

/* .button:default {
  color: #FFFFFF;
}

.button:hover {

}

.button:focus {

}

.button:active {

} */
.product-card-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  display: flex;
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

.product-card-stars {
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1 0 0;
  align-self: stretch;
}

.product-card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  width: 140px;
  height: 37px;
  flex-shrink: 0;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-align: center;
  padding: 9px 22px 8px 23px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.card-button {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.card-rating {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.button-detaile {
  background-color: #756157;
}

.button-favourites {
  background-color: #82b3d3;
}

.button-active-favourites {
  background-color: #7db54f;
}

.pagination {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.pagination-item {
  display: flex;
  width: 60px;
  height: 60px;
  padding: 11px 0 12px 0;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #82b3d3;
  text-decoration: none;
}

.pagination-item:default {
  border-radius: 4px;
  background: var(--Buttons-second, #82b3d3);
}

.pagination-item:hover {
  border-radius: 4px;
  border: 1px solid var(--Buttons-second, #82b3d3);
  background: var(--Buttons-blue-hover, #68a2ca);
}

.pagination-item:focus {
  border-radius: 4px;
  border: 1px solid var(--Buttons-second, #82b3d3);
  background: var(--Buttons-blue-hover, #68a2ca);
}

.pagination-item:active {
  border-radius: 4px;
  background: var(--Buttons-second, #82b3d3);
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
